# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/.qtc_clangd/.cache/clangd/index/

build/.qtc_clangd/

build/Debug/.qtc_clangd/.cache/clangd/index/

build/Release/.qtc_clangd/.cache/clangd/index/

build/Release/

build/Debug/.qtc_clangd/
